<div class="col-md-12">
  <div class="row">
      <div class="col-lg-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Line Chart</h4>
              <app-line-chart></app-line-chart>
            </div>
          </div>
        </div>
        <div class="col-lg-4 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Pi Chart</h4>
                <app-pi-chart></app-pi-chart>
              </div>
            </div>
          </div>
  </div>
</div>
